{%extends 'base.html'%}

{%block style%}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

{%endblock%}



{% block active %}

<li ><a href="{{url_for('home') }}">Home</a></li>
<li ><a href="{{url_for('about')}}">About</a></li>

{%endblock%}


{%block form %}

{% if error_string %}
<br>
<br>
<h1></h1>
<h1>{{error_string}} :( </h1>
<h1>VISIT HOME PAGE</h1>
{% else %}
<br>
<br>
<h1></h1>
<h1>Unrecognized error :(</h1>
<h1>VISIT HOME PAGE</h1>
{% endif %}


{%endblock %}